<!DOCTYPE html>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name='dynamic_color_table'>
		<style src="../static/dynamic_color_table.css"></style>
		<script src="../static/dynamic_color_table.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<title>Choose House/Room Paint Colors</title>
	</head>

	<body>
		<h4>Need house/room paint ideas?</h4>
		<ul>Instruction: </ul>
			<li>1. Double click at the empty space below. Colors will be randomly updated w/ each new mouse click.</li>
			<li>2. Mouse over your favourite color block to display its color in hex code.</li>
			<li>3. Call your local HomeDepot and ask for house paint availability!</li>
		<table id="main_table" cellspacing="0px">
		</table>
	</body>
</html>